.App {
  text-align: center;
  max-width: 425px;
  margin: auto;
}

.ant-layout-header {
  padding: 0 !important;
}

.c_white {
  color: white;
}

.p_break {
  word-break: keep-all;
}

button {
  word-wrap: break-word;
}

body {
  background-color: #f0f2f5 !important;
}
