.test {
  float: left;
  width: 100%;
  height: 50px;
  z-index: 5;
  overflow-x: hidden;
  position: relative;
}

.primary {
  background-color: #06c1de;
}

.primary:hover {
  background-color: #06b6d1;
}

.primary::after {
  background-color: #047e91;
}

.danger {
  background-color: #f94b4e;
}

.danger:hover {
  background-color: #f94b41;
}

.danger::after {
  background-color: #971618;
}

.large {
  width: 200px;
  height: 40px;
}

.large::after {
  width: 200px;
  height: 40px;
}

.small {
  width: 80px;
  height: 40px;
}

.small::after {
  width: 80px;
  height: 40px;
}

.pixel {
  display: block;
  position: relative;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  outline: none;
}

.pixel::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: 15px;
  z-index: -1;
}

.pixel:active {
  top: 5px;
}

.pixel:active::after {
  top: 2px;
}
